$successColor: rgb(52, 211, 153);
$errorColor: rgb(248, 113, 113);
h2 {
    @apply text-gray-800;
}

p {
    @apply text-gray-700;
}

.Toastify__toast--success {
    background: $successColor !important;
}

.Toastify__toast--error {
    background: $errorColor !important;
}

.btn {
    @apply py-1 px-2 text-center rounded-md shadow-sm m-1 cursor-pointer transform duration-300 truncate;

    &.small {
        @apply text-xs p-1;
    }

    &:hover {
        @apply scale-105; 
    }

    &:disabled {
        @apply bg-opacity-60;

        &:hover {
            @apply scale-100 bg-opacity-70;
        }
    }
}

.btn-add, .btn-success {
    @apply bg-green-400 text-white;
    
    &:hover {
        @apply bg-green-500; 
    }
}

.btn-delete {
    @apply bg-red-400 text-white;

    &:hover {
        @apply bg-red-500; 
    }
}

.btn-edit {
    @apply bg-green-400 text-white;
    
    &:hover {
        @apply bg-green-500; 
    }
}

label {
    display: flex;
    flex-direction: column;
    @apply my-2;
    input, textarea {
        @apply rounded-md shadow-sm focus:outline-none p-1;
    }
}
